body {
    background-color: #191718;
    margin: 0;
    font-family: Tahoma;
    font-size: 15px;
    color: #A66963;
    min-width: 500px;
}
h1 {
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
    font-size: 50px;
    color: #F2A81D;
}
h2 {
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: left;
    font-size: 30px;
    color: #A66963;
}
h3 {
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
  font-size: 15px;
  color: #5B61D9;
}
img {
    height: auto;
    width: 100%;
    }

.button {
    color: black;
}