body {
  background-color: #191718;
  margin: 0;
  font-family: Tahoma;
  font-size: 15px;
  color: white;
  min-width: 500px;
}
h1 {
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  font-size: 50px;
  color: #ffb81c;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: #041e42;
  width: 100%;
  padding: 16px;
}

h3 {
  padding-left: 15px;

  letter-spacing: 5px;
  text-align: left;
  font-size: 15px;
  color: white;
}
img {
  height: auto;
  width: 100%;
}

button {
  background-color: #a66963;
  color: black;
  margin: 1em;
  width: 5%;
  border-radius: 5px;
}
fieldset.flex-search {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 25px;
  padding: 1rem;
}
fieldset.flex-results {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 25px;
  padding: 1rem;
}
fieldset.flex-itinerary {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 25px;
  padding: 1rem;
  font-family: tahoma;
  text-align: center;
}

input[type="text"] {
  border-radius: 3px;
  margin: 1em;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

.search {
  display: flex;
  justify-content: center;
}

fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #041e42;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  list-style-type: none;
}

.baby {
  border-radius: 50%;
}
